body {

  padding-top: 50px;

}

.starter-template {

  padding: 40px 15px;

  text-align: center;

}



@media (min-width: 992px) {

  .container {

    max-width: 970px;

  }

   …

}

.marginDiv {
    margin: 150px;
    
}